.app {
  min-height: 720px;
}

nav {
  background-color: #424242;
  box-shadow: 0 2px 4px rgba(0,0,0,0.14);
  height: 60px;
}
nav a {
  color: antiquewhite;
}

.app-logo {
  display: inline-block;
  float: left;
  height: 40px;
  padding: 10px;
}

.app-intro {
  color: #ddd;
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 10px;
}
.user-info {
  color: #ddd;
  display: inline-block;
  float: right;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 10px;
}

.user-info img {
  float: left;
  height: 40px;
  line-height: 40px;
}
.user-info p {
  line-height: 40px;
  margin: 0 1em;
  display: inline-block;
  height: 40px;
}
.main {
  height: 100%;
  width: 980px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 100px;
  border: 1px solid #e1e2e5;
  background: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  overflow: hidden;
}
.user-left {
  min-height: 500px;
  width: 150px;
  box-sizing: border-box;
  border-right: 1px solid #e1e2e5;
  float: left;
}
.router {
  background: #fff;
  width: 830px;
  float: right;
}
.user-left-title {
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  color: #99a2aa;
  border-bottom: 1px solid #e1e2e5;
}
.user-left ul {
  margin: 0;
  padding: 0;
}
.user-left li {
  height: 40px;
  line-height: 40px;
  color: #99a2aa;
}
.user-left a {
  display: block;
  text-decoration: none;
  padding-left: 34px;
  color: #222
}
.user-left a.active-link {
  background-color: #00A1D7;
  color: #fff;
}
