.text-input,
.checkbox,
.tags {
  position: relative;
  margin: 1em 1em 1em 7em;
}

.text-input input,
.text-input textarea {
  background: none;
  box-sizing: border-box;
  font-size: 14px;
  padding: .7em .7em .7em .35em;
  display: inline-block;
  width: 300px;
  border: none;
}
.text-input input {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.text-input textarea.not-readonly {
  border: 2px solid rgba(0, 0, 0, .14);
}
.text-input textarea.readonly {
  border: 2px solid rgba(0, 0, 0, 0);
}
.text-input textarea {
  outline: none;
  height: 6em;
  transition: all .2s;
  resize: none;
}
.text-input input.not-readonly {
  border-bottom: 1px solid rgba(0, 0, 0, .14);
}

.text-input input.not-readonly:focus,
.text-input textarea.not-readonly:focus {
  outline: none;
}

.text-input label,
.checkbox label,
.tags label {
  position: absolute;
  display: inline-block;
  font-weight: normal;
  pointer-events: none;
  left: -6em;
  top: .85em;
  font-size: 14px;
  color: #5264AE;
}


/* BOTTOM BARS ================================= */

.text-input-bar {
  position: relative;
  display: block;
  width: 300px;
}

.text-input-bar:before,
.text-input-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.text-input-bar:before {
  left: 50%;
}

.text-input-bar:after {
  right: 50%;
}


/* active state */

input.not-readonly:focus ~ .text-input-bar:before,
input.not-readonly:focus ~ .text-input-bar:after {
  width: 50%;
}


/* HIGHLIGHTER ================================== */

.text-input-highlight {
  position: absolute;
  height: 50%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active state */

input.not-readonly:focus ~ .text-input-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
textarea.not-readonly:focus {
  border: 2px solid #5264AE;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.tag-typer {
  outline: none;
  border: none;
  padding: 6px;
  margin: 3px;
  margin-right: -25px;
  width: 100px;
  background-color: transparent;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, .14);
}

.tag {
  display: inline-block;
  background: #00a0d8;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 2px 20px 2px 2px;
  font: normal 16px sans-serif;
  position: relative;
  cursor: default;
  box-shadow: 1px 1px 0 rgba(0,0,0,.2);
  transition: all .1s;
}
.tag .close {
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  border-radius: 1em;
  position: absolute;
  background: inherit;
  right: -6px;
  top: -6px;
  z-index: 3;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .12);
  visibility: hidden;
}

.tag:hover .close {
  visibility: visible;
}

.checkbox ul,
.tags ul {
  padding: .2em .7em .7em .35em;
  margin: 0;
}
.checkbox li {
  display: inline-block;
  padding: .4em;
  margin: 2px 20px 2px 2px;
  /*border: 1px solid rgba(0, 0, 0, .14);*/
  border-radius: 4px;
  list-style: none;
  cursor: pointer;
}
.checkbox-true {
  color: #fafafa;
  background-color: #00a0d8;
}
.checkbox-false {
  color: #333;
  background-color: #f4f4f4;
}

.profile-form .input-group, .new-collection .input-group, .change-password .input-group {
  margin-bottom: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, .14);
}
.base-form-message {
  display: none;
}
.submit {
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .14);
  border-radius: 3px;
  color: #fff;
  background: #00a0d8;
  padding: .3em 1em;
  display: block;
}
.profile-form .submit, .new-collection .submit, .change-password .submit {
  margin: 0 auto;
  margin-bottom: 3em;
}
