.app {
  text-align: center;
  height: 100%;
  min-height: 720px;
}

.app:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.app-main {
  min-height: 600px;
  display: inline-block;
  vertical-align: middle;
}

.app-logo {
  height: 80px;
}

.app-intro {
  font-size: large;
}
